a{
    color: black!important;
}

#kep{
    width: 100%;
    height: auto;
    float: right;
}

h1{
    text-align: center;
}

.card{
    margin: auto!important;
    border: 2px black solid!important;
    margin-bottom: 10px!important;
}

hr{
    border: 1px black solid!important;
}